* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.BeneficiaryList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}


.BeneficiaryForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}